body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

#bike-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bike {
  background: white;
  margin: 15px;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.bike img {
  width: 100%;
  border-radius: 10px;
}

button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

